:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
            --iris: #4d5ae5;
            --ocean: #404bbf;
            --navy-blue: #2e2f42;
            --green: #31d0aa;
            --slate: #434455;
            --light-slate: #8e8f99;
            --cornflower: #e7e9fc;
            --cloud: #f4f4fd;
            --navy-blue-modal: rgba(46, 47, 66, 0.4);
            --grey: rgba(46, 47, 66, 0.7);
            --white: #fff;
            --dairy: #fcfcfc;
        
}
 
body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);

}
 a {
    text-decoration: none;
 }

 ul, ol {
    list-style: none;
    padding-left: 0;
 }

 .ground-header {
    background: var(--white);
 }

 .logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
 }

 .logo-span {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    color: var(--navy-blue);
 }

 .studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #2e2f42;
 }
.studio:hover {
   color: #404bbf;
}
.studio:focus {
   color: #404bbf;
}

 .portfolio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #2e2f42;
 }

 .portfolio:hover {
    color: #404bbf;
 }

 .portfolio:focus {
    color: #404bbf;
 }

  .contacts {
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     font-size: 16px;
     color: #2e2f42;
  }

  .contacts:hover {
     color: #404bbf;
  }

  .contacts:focus {
     color: #404bbf;
  }

 .address {
   font-style: normal;
 }

 .mail {
   line-height: 1.5;
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #434455;

 }
 .mail:hover {
   color: #404bbf;
 }
 
 .mail:focus {
    color: #404bbf;
 }

  .tel {
     line-height: 1.5;
     font-size: 16px;
     letter-spacing: 0.02em;
     color: #434455;

  }

  .tel:hover {
     color: #404bbf;
  }

  .tel:focus {
     color: #404bbf;
  }
 .hero {
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 56px;
    color: var(--white);
 }

 .hero-background {
    background: var(--navy-blue);
    
 }

 .button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    background: var(--iris);
 }

 .button:hover {
    color: #404BBF;
 }
 .button:focus {
   color: #404BBF;
 }


 .section2-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 }

 .content-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
 }

 .ground-section3 {
    background: #F4F4FD;
 }
 .section3-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue)
 }



 .name {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue)
 }

 .caption-name {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
 }

 .section4-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    color: var(--navy-blue);
 }

 .img-direction {
    background: url("path_to_image");
 }

 .name-direction {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 }

 .direction-caption {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
 }

 .logo-footer {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--iris);
 }

 .logofooter-span {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    color:  #f4f4fd;
 }

 .ground-footer {
    background: var(--navy-blue);
 }
 .text-footer {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud);
 }